<mat-card>
    <mat-card-title>
        Editar informações do produto
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="SKU" [(ngModel)]="product.SKU" name="SKU" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="product.description" name="description">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço(R$)" [(ngModel)]="product.price" name="price" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="product.quantity" name="quantity">
        </mat-form-field>
    </form>
</mat-card>

<div align="right">
    <button mat-raised-button (click)="updateProduct()" >
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>
